# Project Part 2: Amazon Beauty Products

## 1. Introduction

Importing some libraries.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

## 2. Loading Datasets 

Getting familiar with the data we have

### 2.1 meta_All_Beauty.json

This dataset contains all the product details

In [18]:
import json
import numpy as np
import pandas as pd

product = []
with open('meta_All_Beauty.json') as f:
    for line in f:
        product.append(json.loads(line))

### 2.2 Review_Beauty.json

This file contains all the review given by customers.

In [19]:
review = []
with open('Review_Beauty.json') as f:
    for line in f:
        review.append(json.loads(line))

### 2.3 All_Beauty.csv

csv file provide by lecturer.

In [20]:
header_names = ['ProductID', 'UserID', 'Review', 'Date']
review_simplified = pd.read_csv('All_Beauty.csv', header=None, names=header_names)
review_simplified.head()

    ProductID          UserID  Review        Date
0  0143026860  A1V6B6TNIC10QE     1.0  1424304000
1  0143026860  A2F5GHSXFQ0W6J     4.0  1418860800
2  0143026860  A1572GUYS7DGSR     4.0  1407628800
3  0143026860   A1PSGLFK1NSVO     5.0  1362960000
4  0143026860   A6IKXKZMTKGSC     5.0  1324771200

In [21]:
review_simplified.shape

(371345, 4)

## 3. Data Cleaning

Cleaning our data, which includes the steps below:

Step 1 : Remove duplicates or irrelevant observations

Step 2 : Fix structural errors

Step 3 : Identify and handle outliers

Step 4 : Handle missing data

### 3.1 Cleaning meta_All_Beauty.json

Which is now loaded into Product (a DataFrame)

In [26]:
raw_product_table = pd.DataFrame(product)
#drop irrelevant observations
product_table = raw_product_table.drop(['category','tech1','description','fit','image','tech2','brand','feature','main_cat','similar_item','date','details'],axis = 1)
#drop duplicates
product_table.drop_duplicates(['asin'],inplace = True)
product_table.reset_index(drop=True, inplace=True)
#fix structural errors
#product_table = product_table['price'].apply(lambda product_table['price']: 'unknown' if product_table[product_table.price.str[0]] != '$')
#deal with missing data
product_table.replace('','unknown', regex=True, inplace=True)
#product_table.replace('\[]','unknown', regex=True, inplace=True)
product_table.fillna('unknown',inplace = True)
product_table

,title,also_buy,rank,also_view,price,asin
0,Loud 'N Clear&trade; Personal Sound Amplifier,[],"2,938,573 in Beauty & Personal Care (",[],unknown,6546546450
1,No7 Lift &amp; Luminate Triple Action Serum 50...,"[B01E7LCSL6, B008X5RVME]","872,854 in Beauty & Personal Care (",[],$44.99,7178680776
2,No7 Stay Perfect Foundation Cool Vanilla by No7,[],"956,696 in Beauty & Personal Care (","[B01B8BR0O8, B01B8BR0NO, B014MHXXM8]",$28.76,7250468162
3,Wella Koleston Perfect Hair Colour 44/44 Mediu...,[B0041PBXX8],"1,870,258 in Beauty & Personal Care (",[],unknown,7367905066
4,Lacto Calamine Skin Balance Oil control 120 ml...,[],"67,701 in Beauty & Personal Care (","[3254895630, B007VL1D9S, B00EH9A0RI, B0773MBG4...",$12.15,7414204790
...,...,...,...,...,...,...
32483,"Barielle Pro Textured Grip Cuticle Nipper, Purple",[],"2,145,325 in Beauty & Personal Care (",[],$9.95,B01HIWLLUK
32484,(Buy 3 Get 1 Free) Salon Perfect Eye Makeup Co...,[],"1,639,713 in Beauty & Personal Care (",[],unknown,B01HJ1K3YK
32485,NOW D-Mannose 500 mg - 120 Veg Capsules (Pack ...,"[B01KON9B4S, B079X3YFXS, B00M79OYS6, B000JN4CR...","207,410 in Beauty & Personal Care (","[B01KON9B4S, B000JN4CR0, B071ZHMRHS, B01HJ84TN...",$55.63,B01HJ84SGM
32486,12 White Feather Shuttlecocks Birdies Badminto...,[],"965,673 in Beauty & Personal Care (",[],$12.99,B01HJASD20
32487,FESHFEN Scrunchy Scrunchies Synthetic Hair Bun...,"[B01HJEGQ6Q, B01L66EYCG, B00H7YZ7HI, B00CHKKWZ...","478,123 in Beauty & Personal Care (","[B06XNM7CGD, B071D7TMQS]",unknown,B01HJEGTYK

In [28]:
dfMergedOuter2 = (pd.DataFrame.merge(final_table, product_table, on ='asin', how='outer' , indicator=True)).set_index("asin")
dfMergedOuterReviewOnly = dfMergedOuter2[dfMergedOuter2['_merge'] == 'left_only']
dfMergedOuterReviewOnly

B004V2MYRU    1
B000KE5ONE    1
B0082O11ZO    1
B000NUTOM2    1
B00PHEN1WI    1
             ..
B017U7XJ9O    1
B00CF2P7AY    1
B00VXTH67M    1
B015Q713WU    1
B017TD2Q16    1
Name: asin, Length: 32488, dtype: int64

In [29]:
raw_review_table = pd.DataFrame(review)
#drop irrelevant observations
review_table = raw_review_table.drop(['reviewerName','reviewText','summary','unixReviewTime','style','image'],axis = 1)
#drop duplicates
review_table.drop_duplicates(inplace = True)
review_table.reset_index(drop=True, inplace=True)
#deal with missing data
review_table.fillna('unknown',inplace = True)

#separate reviewTime into three different columns
review_table['reviewTime'].replace(',','', regex=True, inplace=True)
date = review_table['reviewTime'].str.split(' ', n=2,expand = True)
date.columns =['month','day','year']
#drop reviewTime column
review_table.drop(['reviewTime'],axis = 1,inplace = True)
#concat both of the tables
final_table = pd.concat([review_table,date], axis=1)
#rearrange sequence of the columns
cols = final_table.columns.tolist()
cols = cols[-1:] + cols[-3:-1] + cols[:-3]
final_table = final_table[cols]
final_table

        year month day  overall  verified      reviewerID        asin     vote
0       2015    02  19      1.0      True  A1V6B6TNIC10QE  0143026860  unknown
1       2014    12  18      4.0      True  A2F5GHSXFQ0W6J  0143026860  unknown
2       2014    08  10      4.0      True  A1572GUYS7DGSR  0143026860  unknown
3       2013    03  11      5.0      True   A1PSGLFK1NSVO  0143026860  unknown
4       2011    12  25      5.0      True   A6IKXKZMTKGSC  0143026860        5
...      ...   ...  ..      ...       ...             ...         ...      ...
362398  2017    07  20      1.0      True  A202DCI7TV1022  B01HJEGTYK  unknown
362399  2017    03  16      5.0      True  A3FSOR5IJOFIBE  B01HJEGTYK       34
362400  2017    03   1      5.0      True  A1B5DK6CTP2P24  B01HJEGTYK       46
362401  2017    02  21      2.0      True  A23OUYS5IRMJS9  B01HJEGTYK  unknown
362402  2016    12  15      2.0      True  A24KQ9RVU81L87  B01HJEGTYK  unknown

[362403 rows x 8 columns]