# Project Part 2: Amazon Beauty Products

## 1. Introduction

Importing some libraries.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

## 2. Loading Datasets 

Getting familiar with the data we have

### 2.1 meta_All_Beauty.json

This dataset contains all the product details

In [4]:
product_list = []
with open('meta_All_Beauty.json') as p:
    for line in p:
        product_list.append(json.loads(line))
        
product = pd.DataFrame(product_list)
product.head()

,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,asin
0,[],,[Loud 'N Clear Personal Sound Amplifier allows...,,Loud 'N Clear&trade; Personal Sound Amplifier,[],[],,idea village,[],"2,938,573 in Beauty & Personal Care (",[],{'ASIN: ': '6546546450'},All Beauty,,,,6546546450
1,[],,[No7 Lift & Luminate Triple Action Serum 50ml ...,,No7 Lift &amp; Luminate Triple Action Serum 50...,"[B01E7LCSL6, B008X5RVME]",[],,,[],"872,854 in Beauty & Personal Care (",[],"{'Shipping Weight:': '0.3 ounces (', 'ASIN: ':...",All Beauty,"class=""a-bordered a-horizontal-stripes a-spa...",,$44.99,7178680776
2,[],,[No7 Stay Perfect Foundation now stays perfect...,,No7 Stay Perfect Foundation Cool Vanilla by No7,[],[],,No7,[],"956,696 in Beauty & Personal Care (","[B01B8BR0O8, B01B8BR0NO, B014MHXXM8]","{'Shipping Weight:': '3.5 ounces (', 'ASIN: ':...",All Beauty,,,$28.76,7250468162
3,[],,[],,Wella Koleston Perfect Hair Colour 44/44 Mediu...,[B0041PBXX8],[https://images-na.ssl-images-amazon.com/image...,,,[],"1,870,258 in Beauty & Personal Care (",[],"{' Item Weight: ': '1.76 ounces', 'Sh...",All Beauty,,,,7367905066
4,[],,[Lacto Calamine Skin Balance Daily Nourishing ...,,Lacto Calamine Skin Balance Oil control 120 ml...,[],[https://images-na.ssl-images-amazon.com/image...,,Pirmal Healthcare,[],"67,701 in Beauty & Personal Care (","[3254895630, B007VL1D9S, B00EH9A0RI, B0773MBG4...","{'Shipping Weight:': '12 ounces (', 'ASIN: ': ...",All Beauty,,,$12.15,7414204790

In [6]:
product.shape

(32892, 18)

### 2.2 All_Beauty.json

This file contains all the review given by customers.

In [5]:
review_list = []
with open('All_Beauty.json') as r:
    for line in r:
        review_list.append(json.loads(line))
        
review = pd.DataFrame(review_list)
review.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN

In [7]:
review.shape

(371345, 12)

### 2.3 All_Beauty.csv

csv file provide by lecturer.

In [8]:
header_names = ['ProductID', 'UserID', 'Review', 'Date']
review_simplified = pd.read_csv('All_Beauty.csv', header=None, names=header_names)
review_simplified.head()

    ProductID          UserID  Review        Date
0  0143026860  A1V6B6TNIC10QE     1.0  1424304000
1  0143026860  A2F5GHSXFQ0W6J     4.0  1418860800
2  0143026860  A1572GUYS7DGSR     4.0  1407628800
3  0143026860   A1PSGLFK1NSVO     5.0  1362960000
4  0143026860   A6IKXKZMTKGSC     5.0  1324771200

In [9]:
review_simplified.shape

(371345, 4)

## 3. Data Cleaning

Cleaning our data, which includes the steps below:

Step 1 : Remove duplicates or irrelevant observations

Step 2 : Fix structural errors

Step 3 : Identify and handle outliers

Step 4 : Handle missing data

### 3.1 Cleaning meta_All_Beauty.json

Which is now loaded into Product (a DataFrame)

In [13]:
unique = product["asin"].value_counts()
unique

B00021VNTO    2
B0001EKQNG    2
B00021W06Y    2
B0002KS5RI    2
B00029V0BC    2
             ..
B00F01QDKA    1
B00GKX45WU    1
B00ZS4NBJ0    1
B00RDGIE9I    1
B00G5MTL3E    1
Name: asin, Length: 32488, dtype: int64

In [16]:
print(product[similar_item.isnull()])

NameError: name 'similar_item' is not defined

In [ ]:
movies.drop(columns=['Unnamed: 0'], inplace=True)